<!DOCTYPE HTML>
<html>
<head>
    <title>{% block title %}Gutenberg{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset("assets/css/font-awesome.min.css") }}">
    {% endblock %}
</head>
<body>


        {% block body %}
        {% endblock %}

{% block javascript %}
    <script src="{{ asset("assets/js/jquery.min.js") }}"></script>
{% endblock %}
<!-- Scripts -->

</body>
</html>