{% extends 'AppBundle::base.html.twig' %}

{% block body %}

    <table class="table">
        <caption>Themes</caption>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ path('category_edit', { 'id': category.id }) }}">Edit</a> /
                    <a href="{{ path('category_delete', { 'id': category.id }) }}">Delete</a> </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}