
<ul id="main-menu" class="main-menu">
    <li>
        <a href="{{ path('index') }}">
            <i class="entypo-monitor"></i>
            <span class="title">Back-end</span>
        </a>
    </li>
    <li>
        <a href="{{ path('category_index') }}">
            <i class="entypo-picture"></i>
            <span class="title">Categories</span>
        </a>
    </li>
    <li>
        <a href="{{ path('theme_index') }}">
            <i class="entypo-layout"></i>
            <span class="title">Themes</span>
        </a>
    </li>
    <li>
        <a href="{{ path('book_index') }}">
            <i class="entypo-book"></i>
            <span class="title">Books</span>
        </a>
    </li>
</ul>