<!-- Header -->
<header id="header" class="alt">
    <a href="{{ path('index') }}" class="logo"><strong>GUSTAMBEURG</strong> <span>by you</span></a>
    <nav>
        <a href="#menu">Menu</a>
    </nav>
</header>

<!-- Banner -->
<section id="banner" class="major">
    <div class="inner">
        <header class="major">
            <h1>Hi, my name is Gustambeurg</h1>
        </header>
        <div class="content">
            <p>My design is awesome, and my name is shameless. Come meet me, and we'll do tricky things tohether</p>
            <ul class="actions">
                <li><a href="#one" class="button next scrolly">Get Started</a></li>
            </ul>
        </div>
    </div>
</section>