<!-- ==================================================
Footer: Classes
footer - Default footer
dark-footer - Dark footer [Use with .footer]
sticky-footer - Reveal footer on scroll
================================================== -->
<footer class="footer footer-style-4 dark-footer" id="footer">

    <div class="container footer-middle ptn">
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="{{ asset('assets/img/logo-light.png') }}" alt="Gutembook" class="img-responsive mb20" width="100" style="margin: auto;">
            </div>
            <div class="col-md-6">
                <h6 class="footer-title lowercase">
                    <i class="fa fa-phone"></i> +0 (123) 456-7890
                    <span class="ml10 mr10">|</span>
                    <i class="fa fa-envelope"></i> support@gutembook.com</h6>
            </div>
            <div class="col-md-6 text-right">
                <a href="#" class="trans pr10 pl10"><i class="fa fa-facebook"></i></a>
                <a href="#" class="trans pr10 pl10"><i class="fa fa-twitter"></i></a>
                <a href="#" class="trans pr10 pl10"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="trans pr10 pl10"><i class="fa fa-dribbble"></i></a>
                <a href="#" class="trans pr10 pl10"><i class="fa fa-youtube"></i></a>
                <a href="#" class="trans pr10 pl10"><i class="fa fa-vimeo"></i></a>
                <a href="#" class="trans pr10 pl10"><i class="fa fa-linkedin"></i></a>
            </div> <!-- end col-md-6 -->
        </div> <!-- end row -->
    </div> <!-- end footer-middle -->

    <!-- ========== Footer - last section ========== -->
    <div class="footer-last">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    &copy; 2016 Gutembook
                </div>
                <div class="col-md-6 text-right">
                    <a href="#" class="mr10">Terms of Use</a>
                    <a href="#">Privacy Policy</a>
                </div>
            </div> <!-- end row -->
        </div> <!-- end container -->
    </div> <!-- end footer-last -->

    <!-- ========== Scroll to top button ========== -->
    <div class="scroll-to-top trans"><i class="fa fa-angle-up"></i></div>
</footer>
