{% extends 'AppBundle::base.html.twig' %}

{% block body %}

    {% include "AppBundle:Default:menu.html.twig" %}

    <!-- ========== MAIN ========== -->
    <div class="main">

        <!-- ========== HOME SECTION ========== -->
        <div id="section1" class="parallax-window pt80 pb80" data-parallax="scroll" data-image-src="{{ asset('assets/img/demo-img-5.jpg') }}" data-speed="0.6">
            <div class="container">
                <div class="row pt80 pb80">
                    <div class="col-md-12 text-center">
                        <h1 class="headline">Your books everywhere !!</h1>
                        <div class="col-md-4 col-md-offset-4">
                            <input type="text" class="form-control input-style-2 rounded-input" id="book-name" placeholder="Search a book name..." required="">
                        </div>
                        <div class="clearfix pt30">
                            <button type="submit" class="st-btn primary-btn full-rounded hvr-back hvr-sweep-to-bottom">Submit</button>
                        </div>
                    </div> <!-- end col-md-12 -->
                </div> <!-- end row -->
            </div> <!-- end container -->
        </div>

        <!-- ========== CONTENT SECTION ========== -->
        <section id="section2" class="content-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="col-md-4 text-center">
                            <img src="{{ asset('assets/img/img-1.png') }}" alt="" class="img-responsive">
                        </div>
                        <div class="col-md-8">
                            <h5 class="underline">Feature One</h5>
                            <div class="col-md-7">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                            <div class="col-md-5">
                                <ul class="ul-style-2">
                                    <li><i class="fa fa-check list-icon"></i>Lorem ipsum dolor</li>
                                    <li><i class="fa fa-check list-icon"></i>Sed do tempor </li>
                                    <li><i class="fa fa-check list-icon"></i>Ut enim ad minim</li>
                                    <li><i class="fa fa-check list-icon"></i>Nisi ut aliquip</li>
                                </ul>
                            </div>
                        </div> <!-- end col-md-8 -->
                    </div> <!-- end col-md-10 -->
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>

        <!-- ========== CONTENT SECTION ========== -->
        <section class="content-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="col-md-8">
                            <h5 class="underline">Feature Two</h5>
                            <div class="col-md-7">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                            <div class="col-md-5">
                                <ul class="ul-style-2">
                                    <li><i class="fa fa-check list-icon"></i>Lorem ipsum dolor</li>
                                    <li><i class="fa fa-check list-icon"></i>Sed do tempor </li>
                                    <li><i class="fa fa-check list-icon"></i>Ut enim ad minim</li>
                                    <li><i class="fa fa-check list-icon"></i>Nisi ut aliquip</li>
                                </ul>
                            </div>
                        </div> <!-- end col-md-8 -->
                        <div class="col-md-4 text-center">
                            <img src="{{ asset('asset/img/img-1.pn') }}" alt="" class="img-responsive">
                        </div>
                    </div> <!-- end col-md-10 -->
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>

        <!-- ========== FULL WIDTH FEATURE BOXES ========== -->
        <section id="section3">
            <div class="row feature-type-5">
                <div class="col-md-3">
                    <div class="feature-box-5">
                        <div class="icon">
                            <i class="ion-ios-checkmark-outline"></i>
                        </div>
                        <h5 class="feature-title">Fully Responsive</h5>
                        <p class="feature-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <i class="bg-icon ion-ios-paper-outline"></i>
                    </div> <!-- end feature-box-5 -->
                </div>

                <div class="col-md-3">
                    <div class="feature-box-5 black-box">
                        <div class="icon">
                            <i class="ion-ios-speedometer-outline"></i>
                        </div>
                        <h5 class="feature-title">Retina ready</h5>
                        <p class="feature-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <i class="bg-icon ion-ios-keypad-outline"></i>
                    </div> <!-- end feature-box-5 -->
                </div>

                <div class="col-md-3">
                    <div class="feature-box-5">
                        <div class="icon">
                            <i class="ion-ios-flask-outline"></i>
                        </div>
                        <h5 class="feature-title">Easy to use</h5>
                        <p class="feature-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <i class="bg-icon ion-ios-lightbulb-outline"></i>
                    </div> <!-- end feature-box-5 -->
                </div>

                <div class="col-md-3">
                    <div class="feature-box-5 black-box">
                        <div class="icon">
                            <i class="ion-ios-locked-outline"></i>
                        </div>
                        <h5 class="feature-title">Easy to use</h5>
                        <p class="feature-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <i class="bg-icon ion-ios-recording-outline"></i>
                    </div> <!-- end feature-box-5 -->
                </div>

            </div> <!-- end row -->
        </section>

        <!-- ========== CONTENT SECTION WITH FEATURES ========== -->
        <section class="content-section">
            <div class="container">
                <div class="row">

                    <!-- ========== section title ========== -->
                    <div class="col-md-12 section-header text-center">
                        <h3 class="section-title underline">Services</h3>
                        <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                    </div> <!-- end section-header -->

                    <div class="col-md-4 mb50">
                        <div class="feature-box-4">
                            <div class="icon">
                                <i class="ion-ios-checkmark-outline"></i>
                            </div>
                            <h5 class="feature-title">Web Design</h5>
                            <p class="feature-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div> <!-- end feature-box-4 -->
                    </div> <!-- end col-md-4 -->
                    <div class="col-md-4 mb50">
                        <div class="feature-box-4">
                            <div class="icon">
                                <i class="ion-ios-speedometer-outline"></i>
                            </div>
                            <h5 class="feature-title">Web Development</h5>
                            <p class="feature-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div> <!-- end feature-box-4 -->
                    </div> <!-- end col-md-4 -->
                    <div class="col-md-4 mb50">
                        <div class="feature-box-4">
                            <div class="icon">
                                <i class="ion-ios-football-outline"></i>
                            </div>
                            <h5 class="feature-title">Graphic Design</h5>
                            <p class="feature-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div> <!-- end feature-box-4 -->
                    </div> <!-- end col-md-4 -->

                    <div class="col-md-4 mb50">
                        <div class="feature-box-4">
                            <div class="icon">
                                <i class="ion-ios-checkmark-outline"></i>
                            </div>
                            <h5 class="feature-title">Web Design</h5>
                            <p class="feature-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div> <!-- end feature-box-4 -->
                    </div> <!-- end col-md-4 -->
                    <div class="col-md-4 mb50">
                        <div class="feature-box-4">
                            <div class="icon">
                                <i class="ion-ios-speedometer-outline"></i>
                            </div>
                            <h5 class="feature-title">Web Development</h5>
                            <p class="feature-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div> <!-- end feature-box-4 -->
                    </div> <!-- end col-md-4 -->
                    <div class="col-md-4 mb50">
                        <div class="feature-box-4">
                            <div class="icon">
                                <i class="ion-ios-football-outline"></i>
                            </div>
                            <h5 class="feature-title">Graphic Design</h5>
                            <p class="feature-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div> <!-- end feature-box-4 -->
                    </div> <!-- end col-md-4 -->

                    <div class="col-md-4 mbsm50 mbxs50">
                        <div class="feature-box-4">
                            <div class="icon">
                                <i class="ion-ios-checkmark-outline"></i>
                            </div>
                            <h5 class="feature-title">Web Design</h5>
                            <p class="feature-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div> <!-- end feature-box-4 -->
                    </div> <!-- end col-md-4 -->
                    <div class="col-md-4 mbsm50 mbxs50">
                        <div class="feature-box-4">
                            <div class="icon">
                                <i class="ion-ios-speedometer-outline"></i>
                            </div>
                            <h5 class="feature-title">Web Development</h5>
                            <p class="feature-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div> <!-- end feature-box-4 -->
                    </div> <!-- end col-md-4 -->
                    <div class="col-md-4">
                        <div class="feature-box-4">
                            <div class="icon">
                                <i class="ion-ios-football-outline"></i>
                            </div>
                            <h5 class="feature-title">Graphic Design</h5>
                            <p class="feature-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div> <!-- end feature-box-4 -->
                    </div> <!-- end col-md-4 -->

                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>

        <!-- ========== FULL WIDTH CTA ========== -->
        <section class="cta trans">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h5 class="cta-title">Get in touch</h5>
                        <p class="cta-desc mb20">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                        <a href="#" class="st-btn primary-btn full-rounded">Contact Us</a>
                    </div> <!-- end text-center -->
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>

    </div> <!-- end main -->

    {% include "AppBundle:Default:footer.html.twig" %}

{% endblock %}