{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="row text-center">

        <div class="col-sm-6 col-lg-4">
        </div>
        <div class="col-sm-6 col-lg-4">
            <a href="#{{ path('homepage') }}" class="widget widget-hover-effect2">
                <div class="widget-extra themed-background-amethyst">
                    <h4 class="widget-content-light">
                        <strong>Add new</strong> User
                    </h4>
                </div>
                <div class="widget-extra-full">
                    <span class="h2 text-danger animation-expandOpen"><i class="fa fa-users"></i></span>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-4">
        </div>
    </div>
{% endblock %}