{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <table>
        <thead>
            <th>Numéro</th>
            <th>nom</th>
            <th>description</th>
            <th>auteur</th>
            <th>nombre de page</th>
        </thead>
            <td>{{ books }}</td>
            <br />
        </tbody>
    </table>

{% endblock %}